<a href="/">返回首页</a>
<hr>
<form action="/salon/add/" method="post">
	{% csrf_token %}
	<input type="hidden" name="edit_type" value="add" />
	<label for="code">代号：</label><input type="text" name="code" required="required"/><span class="required">*</span><br />
	<label for="name">名称：</label><input type="text" name="name" required="required"/><span class="required">*</span><br />
	<label for="start_time">开始时间：</label><input type="text" name="start_time" required="required"/><span class="required">*</span> (格式示例：2012-01-01 12:00 或者 2012-01-01)<br />
	<label for="end_time">结束时间：</label><input type="text" name="end_time" required="required"/><span class="required">*</span> (格式示例：2012-01-02 12:00 或者 2012-01-02)<br />
	<label for="creator">创建人：</label><input type="text" name="creator" required="required"/><span class="required">*</span><br />
	<label for="description">描述：</label><input type="text" name="description" required="required"/><span class="required">*</span><br />
	<label for="address">活动地址：</label><input type="text" name="address" required="required"/><span class="required">*</span><br />
<input type="submit" value="提交" />
</form>

<style type="text/css">
	label {
		display: inline-block;
		width: 100px;
	}
	.required {
		color: red;
		vertical-align: middle;
	}
</style>
