<p>亲爱的 {{user.name}} 工程师：</p>

<p class="intent">感谢您对人人前端技术沙龙的关注，您的报名已经通过，请打印此邮件或出示二维码信息进行签到。</p>

<p class="intent">签到时请提供名片，用于参加会后的幸运抽奖。</p>

<p class="intent">沙龙举办时间：2012年4月7日，13:30签到，14:00-18:00会议。</p>

<p class="intent">地点：北京市朝阳区静安庄静安中心8层</p>

<p class="intent">地图：<a href="http://j.map.baidu.com/HiyGc">http://j.map.baidu.com/HiyGc</a>（建议您搜索地图后选择合适的交通工具前往）</p>

<p class="intent">分享主题：</p>

<ul style="padding-left:2em;">
	<li class="intent">胡坤（谷歌） – 《HTML5游戏开发介绍》 – 利用HTML5 Canvas 等相关技术开发游戏 </li>
	<li class="intent">王致富（人人） – 《js单元测试之路》 – 人人网前端实现js单元测试的前与后 </li>
	<li class="intent">胡波（人人） – 《异步编程里的流程控制》 – js异步编程中遇到的问题，及各种解决方案介绍 </li>
	<li class="intent">王宇（雪球） – 《HTML5 on Slides》 – 如何利用HTML5实现一个媲美ppt的幻灯片功能 </li> 
</ul>

<p class="intent">如果您届时无法到场，请尽量提前回函告知，谢谢。</p>

<p>————————<br>FED @ RENREN</p>
<hr>
<img src="cid:bar_code_image">

<style type="text/css">
	.intent {
		margin-left: 2em;
	}
</style>
